body{
margin:0;
font-family: cursive;
color:yellow;
}

header{
color:pink
padding:20px;
text-align:center;
}

nav a{
color:rgb(255, 255, 255);
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
text-decoration:underline;
}

.para{
color:rgb(00, 229, 255);
text-align:center;
padding:60px;
}

.btn{
background:black;
color:white;
padding:12px 25px;
text-decoration:none;
display:inline-block;
margin-top:20px;
}

.btn:hover{
background:red;
}

.gallery{
display:grid;
display: grid;
grid-auto-flow: column;
grid-auto-columns: minmax(200px, 1fr);
gap:15px;
padding:20px;
}

.gallery img{
width:100%;
border:5px solid black;
}

.gallery img:hover{
transform:scale(1.05);
}

.center{
text-align:center;
}
h2{
    text-align: center;
}

.about{
padding:20px;
}

.box1{
color:rgb(255, 87, 34);
padding:15px;
}

.box2{
color:rgb(76, 175, 80;
padding:15px;
}

.box3{
color:rgb(33, 150, 243;
padding:15px;
}

footer{
background:black;
color:rgb(240, 12, 12);
text-align:center;
padding:10px;
margin-top:30px;
}

