body{
margin:0;
font-family: cursive;
background:#ffeb3b;
}

header{
background:#ff4081;
padding:20px;
text-align:center;
}

nav a{
color:rgb(255, 255, 255);
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
text-decoration:underline;
}

.para{
background:#00e5ff;
text-align:center;
padding:60px;
}

.btn{
background:black;
color:white;
padding:12px 25px;
text-decoration:none;
display:inline-block;
margin-top:20px;
}

.btn:hover{
background:red;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
padding:20px;
}

.gallery img{
width:100%;
border:5px solid black;
}

.gallery img:hover{
transform:scale(1.05);
}

.center{
text-align:center;
}
h2{
    text-align: center;
}

.about{
padding:20px;
}

.cont1{
background:#ff5722;
padding:15px;
}

.cont2{
background:#4caf50;
padding:15px;
}

.cont3{
background:#2196f3;
padding:15px;
}

footer{
background:black;
color:rgb(240, 12, 12);
text-align:center;
padding:10px;
margin-top:30px;
}

